#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_LiviaCoind += debian/examples/*
DEB_INSTALL_MANPAGES_LiviaCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix LiviaCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f LiviaCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake LiviaCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/LiviaCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/LiviaCoind
binary-post-install/LiviaCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/LiviaCoin-qt
